doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      p ¡Hola #{user.name}!
    else
      p No iniciaste sesión.
      
    block messages
      if locals.flashes
        p #{JSON.stringify(locals.flashes)}

    block content
